html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 500px;
}
  
.inputLabel{
  display: inline-block;
  font: 400 16px Roboto, Arial, sans-serif;
  width: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.locateButton{
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 5px 0 10px 5px;
  padding: 0 0.5em;
  font: 400 16px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 30px;
  cursor: pointer;
}

.distanceBox{
  margin-top: 10px;
  font: 400 20px Roboto, Arial, sans-serif;
}

#latError{
  display: none;
}

#lngError{
  display: none;
}